[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #B36AE2;
    --md-default-bg-color:        #212020;
}

[data-md-color-scheme="default"] {
    --md-primary-fg-color:        #00FA92;
}
