{{ service_name }}:
  container_name: "{{ service_name }}"
  image: "{{ image }}"
  ports:
    - "{{ host_port }}:{{ container_port }}"
  environment:
{%- for k, v in env.items() %}
    - {{ k }}=${{ service_name.upper() }}_{{ k }}
{%- endfor %}
  volumes:
{%- for k, v in volumes.items() %}
    - {{ k }}:{{ v }}
{%- endfor %}
  networks:
    - {{ network.name }}
